@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}


#nav-icon3 {
    width: 30px;
    height: 24px;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 999;
    // margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    // background-color: rgba(0, 0, 0, 0.9);
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.4);
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 5px;
    }
  }

  .openMenu {
      right: 0%!important;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  















#btn {
    position: fixed;
    z-index: 1000;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: unset;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.843);
    border-radius: 10px;
    padding: 0.5rem;
    span {
        margin: 3px 0;
        background-color: whitesmoke;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
    }
}

.span1 {
    transform: rotate(-45deg) translateY(6px) translateX(-7px);
}
.span2 {
    opacity: 0;
}
.span3 {
    transform: rotate(45deg) translateY(-5px) translateX(-4px);
}

.menu {
    width: 70%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 100;
    top: 0;
    right: -70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
    border-left: 1px solid rgb(76, 113, 82);
    a {
        margin: 2rem 0;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-in-out;
        &:nth-child(odd):hover {
            color: yellowgreen;
        }
        &:nth-child(even):hover {
            color: rgb(205, 177, 50);
        }
    }
}

#spanAbout {
    position: absolute;
    top: -2rem;
}
#spanSkills {
    position: absolute;
    top: 20rem;
    color: yellowgreen;
}


#spanProjets {
    position: absolute;
    top: -2rem;
    color: yellowgreen;
}
#spanContact {
    position: absolute;
    top: 33rem;
    color: yellowgreen;
}








.sectionHero {
    position: relative;
    height: 55rem;
    width: 100%;
    padding: 2rem;
    background-image: linear-gradient(360deg, rgba(11,11,12,1) 5%, rgba(11,11,12,0.7346288857339811) 14%, rgba(11,11,12,0) 23%, rgba(11,11,12,0) 100%), url(./img/section1-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
   
    .boxHero {
        width: 72rem;
        margin-top: 15rem;
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 4rem;
            font-weight: 300;
            position: relative;
            img {
                position: absolute;
                top: 11rem;
                left: 2rem;
                height: 35rem;
                z-index: 3;
            }
        }
        span {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 300;
        }
    }
}

.sectionAbout {
    padding: 10rem 2rem 3rem 2rem;
    width: 100%;
    background-color: rgb(11, 11, 12);
    font-family: 'Poppins', sans-serif;
    height: min-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .boxAbout {
        width: 72rem;
        height: min-content;
        position: relative;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        // background-color: red;
        // background-color: #6a3e82;
        padding: 0 2rem;
        .aboutLeft {
            width: 34rem;
            display: flex;
            flex-direction: column;
            // background-color: #267e2692;
            position: relative;
            color: rgb(238, 238, 238);
            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 2rem;
                font-weight: 300;
                margin-bottom: 3rem;
                position: relative;
                width: fit-content;
                &::after {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 1px;
                    background-color: #ffffff;
                    bottom: 0;
                    left: 0;
                }
                // &::before {
                //     right: 205px;
                //     top: -110px;
                //     transform: rotate(175deg);
                //     content: url(./img/arrow1.svg);
                //     position: absolute;
                //     width: 180px;
                // }
            }
            p {
                font-family: 'Poppins', sans-serif;
                line-height: 30px;
            }
        }
        .aboutRight {
            width: 34rem;
            height: min-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            // background-color: #aa2727;
            img {
                position: absolute;
                bottom: -8rem;
                width: 80%;
                min-width: 20rem;
                z-index: 1;

            }
        }
    }
}

.sectionSkills {
    padding: 2rem 2rem 1rem 2rem;
    width: 100%;
    background-color: rgb(11, 11, 12);
    font-family: 'Poppins', sans-serif;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .oiseau {
        position: absolute;
        top: -10rem;
        left: -2rem;
        height: 25rem;
        z-index: -1;
    }
    .arrow {
        transform: rotate(20deg);
        height: 15rem;
        margin-right: 15rem;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: white;
        position: relative;
        z-index: 6;
        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    }
    .skillsContainer {
        width: 72rem;
        height: min-content;
        position: relative;
        z-index: 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0);
        // background-color: #6a3e82;
        padding: 0 2rem;
        .cardSkill {
            min-width: 5rem;
            min-height: 5rem;
            max-width: 5rem;
            max-height: 5rem;
            background-color: white;
            margin: 2rem 4rem;
            border-radius: 10px;
            border: 1px solid rgb(0, 0, 0);
            // transition: 0.4s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.5rem 0;
            align-items: center;
            &:hover {
                transform: translateY(-5px);
                -webkit-box-shadow: 0px 12px 45px 0px rgb(41, 41, 41);
                -moz-box-shadow: 0px 12px 45px 0px rgb(41, 41, 41);
                box-shadow: 0px 12px 45px 0px rgb(41, 41, 41);

            }
            img {
                height: 2rem;
            }
            h3 {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
    }
}

.sectionProjet {
    padding:0rem 2rem 0rem 2rem;
    width: 100%;
    background-color: rgb(11, 11, 12);
    font-family: 'Poppins', sans-serif;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    .arrow4 {
        transform: scaleX(-1);
        width: 53rem;
    }
    .boxProjets {
        width: 72rem;
        margin: 5rem 0 0 0;
        padding: 0 2rem;
        position: relative;
        z-index: 2;
        .pomme {
            position: absolute;
            top: -6rem;
            right: -1rem;
            height: 35rem;
        }
        .titreSectionProjets {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 2rem;
            position: relative;
            color: white;
            align-self: flex-start;
            width: fit-content;
            &::after {
                content: "";
                position: absolute;
                width: 150%;
                height: 0.5px;
                background-color: #ffffff;
                bottom: 0;
                left: 0;
            }
        }
        .containerProjets {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .boxProjet {
                width: 30rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 30px;
                // background-color: #ffffffd2;
                margin: 2rem 2rem 5rem 2rem;
                padding: 1rem;
                // transition: all 0.5s ease-in-out;
                background-position: bottom;
                overflow: hidden;
                &::before {
                    position: absolute;
                    content:"";
                    background-image:linear-gradient(360deg, rgba(12, 14, 12, 0.8) 0%,
                    rgba(12, 14, 12, 0.8)), url(./img/palm.jpg);
                    background-size: cover;
                    background-position: bottom;
                    display: inline-block;
                    width: 100%; 
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    z-index: -1;
                }
                &:hover {
                    transform: scale(1.02);
                }
                &:hover::before {
                    opacity: 1;
                }
                .boxTextProjet {
                    // background-color: rgb(101, 38, 38);
                    border-radius: 0 20px 20px 0;
                    width: 38rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width: 100%;
                        border-radius: 20px;
                    }
                    h2 {
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.5rem;
                        font-weight: 300;
                        position: relative;
                        color: white;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                    p {
                        font-family: 'Poppins', sans-serif;
                        color: white;
                        font-weight: 200;
                        font-size: 14px;
                        text-align: justify;
                        margin-bottom: 1rem;
                    }
                    li {
                        font-family: 'Poppins', sans-serif;
                        color: white;
                        font-weight: 200;
                        font-size: 14px;
                        text-align: justify;
                        margin-left: 1rem;
                    }
                }
                .boxButtonProjet {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-self: flex-end;
                    margin-top: 2rem;
                    a {
                        width: 45%;
                        height: 2rem;
                        background-color: rgb(255, 255, 255);
                        color: black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        text-decoration: none;
                        transition: 0.2s ease-in-out;
                    }
                    .github {
                        &:hover {
                            background-color: rgb(50, 71, 47);
                            color: white;
                        }
                    }
                    .online {
                        &:hover {
                            background-color: rgb(167, 146, 52);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
.brancheContact {
    position: absolute;
    height: 25rem;
    left: 6rem;
    bottom: -8rem;
    // transform: rotate(-47deg);
    z-index: 1;
}
.sectionContact {
    padding: 0rem 2rem 10rem 2rem;
    width: 100%;
    background-color: rgb(11, 11, 12);
    font-family: 'Poppins', sans-serif;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    .oiseauxContact {
        position: absolute;
        height: 35rem;
        min-width: 683px;
        right: -8rem;
        top: 21rem;
    }
    .arrowContact {
        height: 30rem;
        position: relative;
        z-index: 3;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: white;
        position: relative;
        z-index: 6;
        &::after {
            content: "";
            position: absolute;
            width: 200px;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }


    }
    .boxContact {
        width: 72rem;
    
        // background-color: red;
        margin: 5rem 0 0 0;
        padding: 0 2rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a {
            color: #FFFFFF;
            text-decoration: none;
            height: 4rem;
        }

        .cardContact {
            min-width: 10rem;
            min-height: 5rem;
            width: 30rem;
            margin: 2rem 2rem;
            border-radius: 10px;
            background-color: #1d1d1d;
            display: flex;
            text-decoration: none;
            padding: 0.5rem 1rem 0.5rem 1rem;
            align-items: center;
            position: relative;
            img {
                height: 4rem;
                color: white;
                margin-right: 2rem;
            }

            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.3rem;
                font-weight: 500;
                width: fit-content;
                color: rgb(255, 255, 255);
    
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                font-weight: 300;
                width: fit-content;
                color: rgb(255, 255, 255);
            }
        }
        .aCV {
            min-width: 10rem;
            min-height: 5rem;
            width: 30rem;
            margin: 2rem 2rem;
            border-radius: 10px;
            background-color: #1d1d1d;
            display: flex;
            text-decoration: none;
            align-items: center;
            position: relative;
            
            .cardContactCV {
                padding: 0.5rem 0rem 0.5rem 1rem;
                display: flex;
                width: 100%;
                img {
                    height: 4rem;
                    color: white;
                    margin-right: 2rem;
                }
                
                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.3rem;
                    font-weight: 500;
                    width: fit-content;
                    color: rgb(255, 255, 255);
                    
                }
                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;
                    font-weight: 300;
                    width: fit-content;
                    color: rgb(255, 255, 255);
                }
            }
        }
            .cardContact2 {
                width: 64rem;
                min-height: 5rem;
                max-width: 100%;
                background-color: #1d1d1d;
                margin: 2rem 2rem;
            border-radius: 10px;
            border: 1px solid rgb(0, 0, 0);
            // transition: 0.4s ease-in-out;
            display: flex;
            justify-content: space-evenly;
            padding: 0.5rem 0;
            align-items: center;
            img {
                height: 4rem;
                &:hover {
                    animation: btnCard 0.8s ease-in-out infinite;
                }
            }
        }
    }
}


@keyframes btnCard {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform:rotate(5deg);
    }
    50% {
        transform:rotate(-5deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(-5deg);
    }
    100% {
        transform:rotate(0deg);
    }
}













#cursor {
    animation: blink .7s infinite ease
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



@media screen and (max-width: 1216px){
    .sectionAbout .boxAbout .aboutRight {
        justify-content: center;
        margin-top: 15rem;
        margin-bottom: 7rem;
    }
    .sectionSkills .arrow {
        transform: rotate(48deg);
        margin-right: 0;
    }
    .sectionHero .boxHero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sectionHero .boxHero h1 {
        text-align: center;
    }
    .sectionHero .boxHero h1 img {
        transform: scaleX(-1) translateX(50%);
        left: 50%;
        height: 28rem;
    }
    .sectionSkills h2 {
        margin-top: 10rem;
    }
    .sectionProjet .arrow4 {
        transform: scaleX(-1) rotate(38deg);
        width: 28rem;
        margin-top: 7rem;
    }
    .sectionProjet .boxProjets {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
    }
    .sectionProjet .boxProjets .titreSectionProjets {
        align-self: center;
        width: fit-content;
    }
    .sectionProjet .boxProjets .titreSectionProjets::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .sectionContact .boxContact .cardContact2 {
        width: 30rem;
    }
}

@media screen and (max-width: 560px){
    .sectionAbout {
        padding-top: 3rem;
    }
    .sectionSkills .skillsContainer {
        padding: 0;
    }
    .sectionSkills .skillsContainer .cardSkill {
        margin: 1.9rem;
    }
    .sectionProjet .boxProjets .containerProjets .boxProjet {
        margin-left: 0;
        margin-right: 0;
    }
    .sectionProjet .boxProjets {
        padding: 0;
    }
    .sectionContact .boxContact {
        padding: 0;
    }
    .sectionContact .boxContact .cardContact {
        flex-direction: column;
        margin: 2rem 0;
    }
    .sectionContact .boxContact .aCV { 
        margin: 0;
        height: fit-content;
    }
    .sectionContact .boxContact .cardContactCV .contactText {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .sectionContact .boxContact .aCV .cardContactCV img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .sectionContact .boxContact .cardContactCV {
        flex-direction: column;
        margin: 0 0;
        align-items: center;
        justify-content: center;
    }
    .sectionContact .boxContact .cardContact img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .sectionContact .boxContact .cardContact .contactText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionContact .boxContact .cardContact2 {
        margin: 2rem 0;
        padding: 2rem 0;
    }
    .sectionHero .boxHero h1 img {
        top: 16rem;
        height: 24rem;
    }
}
